<h1>All Products</h1>

<% @products.each do |product| %>
  <p><b><%= product.name %></b><br>
  <div id="product-<%= product.id %>">
  <%= truncate product.description %>
  <button class="js-more-info" data-id="<%= product.id %>">More Info</button>
  </p></div>
<% end %>

<script type="text/javascript">
  $('.js-more-info').on('click', function() {
    var id = $(this).data('id')
    $.get(`${id}/description`, function(descData) {
      $.get(`${id}/inventory`, function(invData) {
        $(`#product-${id}`).html(descData + ' ' + (invData === 'true' ? 'Available' : 'Sold Out'))
      })
    })
  })
</script>
